<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/videojuegos.css">

        <title>Tienda VJ</title>
        <style>
            .card-img-top {
                height: 300px; /* Ajusta la altura según tus preferencias */
                object-fit: cover; /* Esto asegura que las imágenes se ajusten al tamaño del contenedor sin deformarse */
            }
        </style>

    </head>
    
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{images/icon.png}" width="30" height="30" alt="">
                Tienda VJ
            </a>
            <form th:action="@{/busqueda}" class="d-flex" role="search">
                <input autofocus="autofocus" autocomplete="true"  name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </nav>
        
        <div class="container mt-4 vj-destacados">
            <div class="row">
                <div class="col col-md-12 text-right mb-4">
                    <a th:href="@{/videojuegos/crear}" class="btn btn-outline-success" >Crear videojuego</a>
                </div>                
                <div th:each="juego: ${videojuegos}" class="col-md-3 mb-4">
                    <div class="card">
                    <img th:src="${juego.imageUrl}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 th:text="${juego.nombre}" class="card-title"></h5>
                            <a th:href="@{/videoJuegosPorDistribuidor(distribuidorId=${juego.distribuidor.id})}" class="badge text-bg-primary" th:text="${juego.distribuidor.nombre}"></a>
                            <p th:text="${juego.descripcion}" class="card-text"></p>
                        </div>  
                        <div class="card-footer text-muted">
                            <a href="#" class="btn btn-primary">Ver detalles</a>
                        </div>                        
                    </div>
                </div>                                                          
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>